body{
    background-color: rgb(99, 30, 30);
     transition: background-color 0.5s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title{
    font-family: Bitcount Grid Single Ink, serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

body.jiff-mode {
  background-color: #ffcc00; /* bright yellow for JIFF mode */
}


.jiff-btn{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
    align-items: center;
    display: block;
    margin: 20px auto;
}

.jiff-btn:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

.jiff-btn {
  background-color: rgb(207, 115, 115);
  /* existing styles */
}




.search-btn{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}

.search-btn:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}


.footer{
    text-align: center;
    padding: 300px;
}